.footer {
  width: 100%;
  background: #2E323B;
  font-size: 0;
}
.footer .contact-box {
  width: 100%;
  height: 2.60rem;
}
.footer .contact-box > div {
  width: 50%;
  height: 2.60rem;
  float: left;
}
.footer .contact-box > div.left-contact-box {
  padding-top: .78rem;
}
.footer .contact-box > div.left-contact-box .customer-service {
  float: right;
  width: 4.00rem;
  height: 1.40rem;
  background: url("../res/kf.png") no-repeat left top;
  margin-right: .35rem;
  padding: .03rem 0 0 .85rem;
}
.footer .contact-box > div.left-contact-box .customer-service .phone-box {
  width: 3.15rem;
  height: 1.37rem;
  color: #ffffff;
  padding-top: .07rem;
  border-right: 1px solid #565656;
}
.footer .contact-box > div.left-contact-box .customer-service .phone-box p {
  font-size: .16rem;
  margin-bottom: .15rem;
}
.footer .contact-box > div.left-contact-box .customer-service .phone-box p.p2 {
  font-size: .14rem;
  margin-bottom: .30rem;
}
.footer .contact-box > div.left-contact-box .customer-service .phone-box h3 {
  font-weight: normal;
  font-size: .36rem;
  border:none;
  background: none;
}
.footer .contact-box > div.right-contact-box {
  padding-left: .50rem;
}
.footer .contact-box > div.right-contact-box > div {
  float: left;
}
.footer .contact-box > div.right-contact-box > div.address-box {
  width: 2.60rem;
  height: 2.60rem;
  padding-top: .78rem;
}
.footer .contact-box > div.right-contact-box > div.address-box > div {
  width: 2.60rem;
  height: 1.40rem;
  padding-top: .03rem;
}
.footer .contact-box > div.right-contact-box > div.address-box > div > p {
  font-size: .14rem;
  color: #ffffff;
  margin-bottom: .21rem;
}
.footer .contact-box > div.right-contact-box > div.qr-box {
  width: 1.20rem;
  height: 2.60rem;
  padding-top: .45rem;
}
.footer .contact-box > div.right-contact-box > div.qr-box p {
  font-size: .16rem;
  margin-bottom: .15rem;
  color: #ffffff;
}
.footer .copyright-box {
  width: 100%;
  height: 1.07rem;
  padding-top: .37rem;
}
.footer .copyright-box p {
  font-size: .14rem;
  color: #ffffff;
  text-align: center;
}
